@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --green-300: #86efac;
    --sky-700: #0369a1;
    --bg-li: #4ade80;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--green-300);
}

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 100px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;

    gap: 10px;

    font-size: 1.5em;
    font-weight: bold;
}

ul {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project {
    background-color: var(--bg-li);
}

.project-title {
    width: 100%;
}

.task {
    background-color: var(--bg-li);
}

.delete-button-project {
    text-align: center;

    font-size: 1em;

    display: grid;
    align-content: center;
}

.selected {
    color: var(--sky-700);
}

.clear-button {
    margin-top: 20px;
    width: 100%;
    height: 30px;
}

input[type="checkbox"],
.delete-button-project {
    height: 25px;
    width: 25px;
    margin-left: 5px;
}
