@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --green-300: #86efac;
    --sky-700: #0369a1;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--green-300);
}

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 50px;
    margin-top: 100px;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;

    gap: 10px;

    font-size: 1.5em;
    font-weight: bold;
}

.delete-button-task,
.delete-button-project {
    width: 30px;
    height: 30px;
    text-align: center;

    font-size: 1em;

    display: grid;
    align-content: center;
}

.delete-button-task:hover,
.delete-button-project:hover {
    background: gray;
    border: none;
}

.selected {
    color: var(--sky-700);
}
